### Output directory ###
**/target/

### Fat jar executable ###
*jar-with-dependencies.jar

### Always include maven-wrapper.jar ###
**/!.mvn/wrapper/maven-wrapper.jar

### Ignore target directories inside any src/main or src/test folder ###
**/src/main/**/target/
**/src/test/**/target/

### IntelliJ IDEA ###
**/.idea

### Eclipse ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### Mac OS ###
**/.DS_Store

### Maven output ###
**/maven-output.log
